<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "gitlight/css/sb-admin-2.min.css" %}">
</head>
<body class="bg-gradient-primary">
<div class="container">

    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1>Welcome!</h1>
                                </div>
                                <form action="{% url 'login' %}" method="GET">
                                    <h4>
                                    Your email have been authenticated! Now,
                                    please login to use the gitlight service.
                                </h4>
                                    <button type="submit" id="id_login_button" class="btn btn-primary btn-user btn-block">Login</button>
                                
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>