<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Repo: {{ repo.name }}</h1>
    <p>rev: {{ rev }}</p>
    <p>branches: {{ branches }}</p>
    <p>path: {{ path }}</p>
    <p>bolb_or_tree: {{ blob_or_tree }}</p>


<h1>File View</h1>
<ul>
    {% autoescape off %}
    {{ render_code }}
    {% endautoescape %}
</ul>

<h1>Directory</h1>
<ul>
    {% for name, fullpath in root_tree.dirs %}
    {% if fullpath %}
        <li> <a href="{% url 'repo_contents' repo.name fullpath%}" id = "test">{{ name }}</a></li>
    {% endif %}
    {% endfor %}
    {% for name, fullpath in root_tree.submodules %}
        <li>{{ name }} </li>
    {% endfor %}
    {% for name, fullpath in root_tree.files %}
        <li><a href="{% url 'file_view' repo.name fullpath%}" id = "test">{{ name }}{{fullpath}}</a> </li>
    {% endfor %}
</ul>

</body>
</html>