<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repo page</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static "gitlight/css/sb-admin-2_modified.css" %}">
</head>
<body>

<div class="" id="wrapper">
    <!-- Sidebar -->
    <ul class="side-menu navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <div class="side-logo sidebar-brand d-flex align-items-center justify-content-center">
            <div class="side-nav-trigger">
                <svg viewBox="0 0 24 24" class="side-menu-logo">
                    <path d="M4 7C4 6.44772 4.44772 6 5 6H19C19.5523 6 20 6.44772 20 7C20 7.55228 19.5523 8 19 8H5C4.44772 8 4 7.55228 4 7ZM4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12ZM5 16C4.44772 16 4 16.4477 4 17C4 17.5523 4.44772 18 5 18H19C19.5523 18 20 17.5523 20 17C20 16.4477 19.5523 16 19 16H5Z"></path>
                </svg>
            </div>

            {#            <a href="#">#}
            {#                <img src="logo.png" alt="" class="logo">#}
            {#            </a>#}
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'repo_list' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Repo List</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Explore
        </div>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Unsolved Issues</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users_list' %}">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Users</span>
            </a>
        </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="" id="content-wrapper">
        <!-- Main Content -->
        <div class="" id="content">
            <!-- Topbar -->
            <nav class="fix-nav space-between navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <div class="side-logo">
                    <div class="side-nav-trigger">
                        <svg viewBox="0 0 24 24" class="side-menu-logo">
                            <path d="M4 7C4 6.44772 4.44772 6 5 6H19C19.5523 6 20 6.44772 20 7C20 7.55228 19.5523 8 19 8H5C4.44772 8 4 7.55228 4 7ZM4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12ZM5 16C4.44772 16 4 16.4477 4 17C4 17.5523 4.44772 18 5 18H19C19.5523 18 20 17.5523 20 17C20 16.4477 19.5523 16 19 16H5Z"></path>
                        </svg>
                    </div>

                    {#                    <a href="#">#}
                    {#                        <img src="blue-logo.png" alt="" class="logo">#}
                    {#                    </a>#}
                </div>
                <ul class="navbar-nav ">
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a href="#" class="nav-link dropdown-toggle">
                            <span>Message</span>
                        </a>
                    </li>
                    <div class="topbar-divider d-none d-sm-block">

                    </div>
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a href="{% url 'profile_page' %}" class="nav-link dropdown-toggle">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">user</span>
                            {# <img src="profile-img.png" alt="" class="img-profile rounded-circle">#}
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <header class="margin-top-header">
                    <div class="profile-photo">
                        <img src="profile-img.png" alt="" class="rounded-circle">
                    </div>
                    <h1 class="text-center margin-top-text">Issue Page for {{ repo_name }}</h1>
                    <div class="text-center margin-top-text">
                        Find a bug? Report it!
                    </div>
                </header>
                {# Repo infos #}
                <div class="row">
                    {# Repo lists #}
                    <div class="col">
                        <div class="col margin-top-text">
                            <!-- Custom Text Color Utilities -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h2 class="m-0 font-weight-bold text-primary">Issues for {{ repo_name }}</h2>
                                </div>
                                <div class="card-body">
                                    <div class="flex-div">
                                        <div class="">
                                            <ul>
                                                {% for issue in issues %}
                                                    <li>
                                                        <a href="{% url 'issue_detail_page' issue.id %}">{{ issue.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col margin-top-text">
                            <!-- Custom Text Color Utilities -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h2 class="m-0 font-weight-bold text-primary">...or create a new issue</h2>
                                </div>
                                <div class="card-body">
                                    <div class="flex-div">
                                        <div class="">
                                            <a href="{% url 'create_issue_page' repo_name %}" class="btn btn-primary">Create
                                                Issue</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static "gitlight/js/effects.js" %}"></script>

</body>
</html>
