<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repo page</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static "gitlight/css/sb-admin-2_modified.css" %}">
</head>
<body>
<p>
    A confirmation email has been sent to {{email}}.  Please click the link
    in that email to confirm your email address and complete your registration for
    your address book.
</p>
</body>
</html>