<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>repo.name: {{ repo.name }}</h1>
<p>rev: {{ rev }}</p>
<p>branchs: {{ branches }}</p>
<p>path: {{ path }}</p>
<p>bolb_or_tree: {{ blob_or_tree }}</p>

{% load custom_filters %}
<ul>
    {% for commit in history %}
        <li>
            <p>{{ commit.message|shorten_commit_content}}</p>
            <p>
                {{ commit.author|extract_author_name }}
            </p>
            <p>
                {{ commit.commit_time|unix_time_to_datatime}}
            </p>

        </li>
    {% endfor %}
</ul>

<h1>Directory</h1>
<ul>
    {% for name, fullpath in root_tree.dirs %}
    {% if fullpath %}
        <li> <a href="{% url 'repo_contents' repo.name fullpath%}" id = "test">{{ name }}</a></li>
    {% endif %}
    {% endfor %}
    {% for name, fullpath in root_tree.submodules %}
        <li>{{ name }} </li>
    {% endfor %}
    {% for name, fullpath in root_tree.files %}
        <li>{{ name }} </li>
    {% endfor %}
</ul>

</body>
</html>